<main class="container-fluid pt-5">
    <div class="row mt-5">
        <h1 class="col-12 text-white text-center mt-5">
            WebDraw.io
        </h1>
        <div class="col-12 text-center mt-5">
            <a routerLink="/login" class="btn btn-deep-purple col-2 mr-5" style="border-radius: 30px">Connexion</a>
            <a routerLink="/register" class="btn btn-blue col-2" style="border-radius: 30px">Inscription</a>
        </div>
    </div>
</main>

<app-guest-header [active]=""></app-guest-header>
