<app-user-header [user]="user" [active]="'home'"></app-user-header>
<div class="container pt-5">
    <div class="row"><h1 class="col-12 text-center text-muted">Liste des diagrammes</h1></div>
    <div class="row" *ngIf="files.length>0">
        <div class="col-md-4 col-sm-6 p-3" *ngFor="let file of files">
            <div class="file">
                <h3 class="text-truncate">{{file.name}}</h3>
                <div>
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h6 class="text-muted text-truncate" style="font-style: italic">{{file.date()}}</h6>
                        </div>
                        <div class="col-6 text-right">
                            <button [routerLink]="'/editor/'+file.name" type="button" style="border-radius: 5px" mdbBtn color="primary" class="relative waves-light p-2" mdbWavesEffect=""><i class="fa fa-eye"></i></button>
                            <button (click)="openUpdateModal(file)" type="button" style="border-radius: 5px" mdbBtn color="deep-purple" class="relative waves-light p-2" mdbWavesEffect=""><i class="fa fa-edit"></i></button>
                            <button (click)="openSuppModal(file)" type="button" style="border-radius: 5px" mdbBtn color="secondary" class="relative waves-light p-2" mdbWavesEffect=""><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row mt-5" *ngIf="files.length <= 0">
        <h5 class="col-12 text-center text-muted">Aucun diagramme créé</h5>
    </div>
</div>

<button type="button" mdbBtn style="border-radius: 30px;width: 130px" color="deep-purple" class="relative waves-light" id="add" (click)="basicModal.show()" mdbWavesEffect><i class="fa fa-plus fa-2x"></i></button>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Nouveau diagramme</h4>
            </div>
            <div class="modal-body">

                <div class="md-form">
                    <input class="form-control" required="required" [mdbValidate]="false" mdbInputDirective [(ngModel)]="nfile.name" id="name" type="text" name="name">
                    <label for="name">Nom du diagramme</label>
                </div>
                <div *ngIf="nfile.error" class="text-danger">Un diagramme possède déjà ce nom</div>
                <div *ngIf="nfile.error2" class="text-danger">Ce champ est obligatoire</div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Annuler</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="addDiagram()">Créer</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #basicModal2="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal2.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel2">Suppression</h4>
            </div>
            <div class="modal-body">
                Voulez-vous vraiment supprimer ce diagramme ?
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal2.hide()" mdbWavesEffect>Non</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="deleteFile()">Oui</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #basicModal3="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal3.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel3">Modification</h4>
            </div>
            <div class="modal-body">
                <div class="md-form">
                    <input class="form-control" required="required" [mdbValidate]="false" mdbInputDirective [(ngModel)]="ufile.name" id="uname" type="text" name="uname">
                    <label for="uname">Nom du diagramme</label>
                </div>
                <div *ngIf="ufile.error" class="text-danger">Un diagramme possède déjà ce nom</div>
                <div *ngIf="ufile.error2" class="text-danger">Ce champ est obligatoire</div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal3.hide()" mdbWavesEffect>Annuler</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="updateDiagramName()">Modifier</button>
            </div>
        </div>
    </div>
</div>