<main class="container-fluid pb-5 pt-5">
    <div class="row mt-5 justify-content-center">
        <div class="col-md-4 col-sm-6 col-12 white-block mt-5">

            <section class="p-2">

                <h3 class="text-center">Inscription</h3>
                <div class="text-center">
                    <i class="fa fa-user-circle fa-5x"></i>
                </div>

                <div class="md-form">
                    <input  [(ngModel)]="user.username" mdbInputDirective [mdbValidate]="false" type="text" id="username" class="form-control">
                    <label for="username">Pseudo</label>
                    <span class="text-danger" *ngIf="errors.username">{{errors.username}}</span>
                </div>

                <div class="md-form">
                    <input  [(ngModel)]="user.last_name" mdbInputDirective [mdbValidate]="false" type="text" id="last_name" class="form-control">
                    <label for="last_name">Nom</label>
                    <span class="text-danger" *ngIf="errors.last_name">{{errors.last_name}}</span>
                </div>

                <div class="md-form">
                    <input  [(ngModel)]="user.first_name" mdbInputDirective [mdbValidate]="false" type="text" id="first_name" class="form-control">
                    <label for="first_name">Prénom</label>
                    <span class="text-danger" *ngIf="errors.first_name">{{errors.first_name}}</span>
                </div>

                <div class="md-form">
                    <input  [(ngModel)]="user.email" mdbInputDirective [mdbValidate]="false" type="email" id="email" class="form-control">
                    <label for="email">Email</label>
                    <span class="text-danger" *ngIf="errors.email">{{errors.email}}</span>
                </div>

                <div class="md-form">
                    <input  [(ngModel)]="user.tel" mdbInputDirective [mdbValidate]="false" type="tel" id="tel" class="form-control">
                    <label for="tel">Téléphone</label>
                    <span class="text-danger" *ngIf="errors.tel">{{errors.tel}}</span>
                </div>

                <div class="md-form">
                    <input  [(ngModel)]="user.password" mdbInputDirective [mdbValidate]="false" type="password" id="password" class="form-control">
                    <label for="password">Mot de passe</label>
                    <span class="text-danger" *ngIf="errors.password">{{errors.password}}</span>
                </div>

                <div class="md-form text-right">
                    <button (click)="register()" class="btn btn-deep-purple">S'inscrire</button>
                </div>

            </section>
        </div>
    </div>
</main>


<app-guest-header [active]="'register'"></app-guest-header>